.login-form-container {
  background-image: url("https://img.freepik.com/free-vector/ripped-notes-rectangle-frame-background_53876-99423.jpg?w=996&t=st=1702633860~exp=1702634460~hmac=9c7b2efccd2659d51d7aa3631a933dc49ae6b2fee50b6cf9c9ce265c63524ff7");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sans-serif";
}
.blog-container {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("https://assets.ccbp.in/frontend/react-js/books-blog-bg.png");
  background-size: cover;
}
.blog-title {
  font-family: "Roboto";
  color: white;
  font-size: 16px;
}
.login-input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-label {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3px;
}
.login-input {
  height: 50px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}
.login-btn {
  height: 30px;
  width: 300px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}
.link-element {
  text-decoration: none;
}

.err-display {
  color: #f20505;
  margin-top: 0px;
}
.tag-login-para {
  color: #ffffff;
}
.tag-login-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.tag-login-btn {
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: greenyellow;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
